@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background-color: #e5e5e5;
  width: 414px;
  height: 750px;
}
.caixa {
  display: flex;
  overflow-x: scroll;
}

.caixa-topo {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: rgba(207, 43, 43, 1);
    height: 92px;
    margin-top: -8px;
}
.Titulo {
  font-family: "Righteous", cursive;
  color: rgba(255, 255, 255, 1);
  font-size: 44px;
}
.sub-titulo {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}
.texto {
  margin-left: 21px;
  margin-top: 8px;
}
.txt {
  font-family: "Righteous", cursive;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 22px;
}
.pratos {
  background-color: rgba(255, 255, 255, 1);
  width: 172px;
  height: 216px;
  border-radius: 9px;
  margin-left: 20px;
  margin-top: 12px;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.foto {
  margin-top: 10px;
  width: 144px;
  height: 87px;
  margin-left: 13px;
  border-radius: 4px;
  margin-right: 13px;
}
.img {
  width: 10px;
}
.texto-prato {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-left: 14px;
  margin-top: 10px;
}
.subTexto-prato {
  font-family: "Roboto", sans-serif;
  color: rgba(166, 166, 166, 1);
  font-size: 15px;
  margin-top: 8px;
  margin-left: 14px;
}
.valor {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: bolder;
  margin-left: 16px;
  margin-top: 20px;
}
.caixa-final {
  background-color: rgba(255, 255, 255, 1);
  width: 414px;
  height: 92px;
}
.caixa-texto {
  background-color: rgba(203, 203, 203, 1);
  width: 364px;
  height: 61px;
  border-radius: 50px;
  bottom: 16px;
  align-items: center;
}
.escrita {
    line-height: 43px;
    height: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 22px;
    height: 20px;
}


.selecionado{
  outline: 4px #32B72F solid
}